@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.slide-menu {
    transition: transform 0.2s;
}